<div class="container">
<h2> {{ title }} </h2>
<div class="row">
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='books'" (click)="filterBy='books'">Books</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='cocktails'" (click)="filterBy='cocktails'">Cocktails</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='beach'" (click)="filterBy='beach'">Beach</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='elephant'" (click)="filterBy='elephant'">Elephant</button>


<ul id="thumbnailsList">
  <li *ngFor="let image of (visableImages | imageFilter:filterBy)">
    <a [routerLink]="['/image', image.id]">
  <img src="{{image.url}}" class="tn" width="200" height="160">
</a>
</li>
</ul>
</div>
</div>
